<%- include('../../partials/head.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h1>Login de admin</h1>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="email@exemplo.com">
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Senha">
                </div>

                <div>
                    <button type="submit" class="btn btn-success btn-block">Logar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>